################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/STR_CRL_API_COMALM/FileContentIndex/2c10938a-b27f-4c97-8896-8107dbf59f9a.vsidx
/.vs/STR_CRL_API_COMALM/FileContentIndex/4d03ebe7-96dc-4813-907c-2439aef41867.vsidx
/.vs/STR_CRL_API_COMALM/FileContentIndex/bd94e45b-daac-4599-b511-9cc733449f3c.vsidx
/.vs/STR_CRL_API_COMALM/FileContentIndex/75e1415d-8142-42dd-be47-2437b919eced.vsidx
/.vs/STR_CRL_API_COMALM/FileContentIndex/d9ce8222-b26e-4a20-8e40-0657da0d3fd0.vsidx
