################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/STR_CRL_API_COMALM/FileContentIndex/1931244f-ee97-4608-86d7-720097a84347.vsidx
/.vs/STR_CRL_API_COMALM/FileContentIndex/6e0131f4-72f2-4e4d-985f-a4468aa5207f.vsidx
/.vs/STR_CRL_API_COMALM/FileContentIndex/aa50c222-c99a-4d9f-af6b-12298cc4f867.vsidx
/.vs/STR_CRL_API_COMALM/FileContentIndex/311696d7-414a-4fb7-853e-5c73c73d5ab4.vsidx
/.vs/STR_CRL_API_COMALM/FileContentIndex/ae15018f-612f-45d8-ac05-2b6d222355f3.vsidx
