################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/STR_CRL_API_COMALM/FileContentIndex/2c10938a-b27f-4c97-8896-8107dbf59f9a.vsidx
/.vs/STR_CRL_API_COMALM/FileContentIndex/4d03ebe7-96dc-4813-907c-2439aef41867.vsidx
/.vs/STR_CRL_API_COMALM/FileContentIndex/bd94e45b-daac-4599-b511-9cc733449f3c.vsidx
/.vs/STR_CRL_API_COMALM/FileContentIndex/75e1415d-8142-42dd-be47-2437b919eced.vsidx
/.vs/STR_CRL_API_COMALM/FileContentIndex/d9ce8222-b26e-4a20-8e40-0657da0d3fd0.vsidx
/.vs/STR_CRL_API_COMALM/FileContentIndex/2dce2e0b-da51-4e49-8473-88cbef1f13f5.vsidx
/.vs/STR_CRL_API_COMALM/FileContentIndex/82ded22e-f6e0-4240-824f-fe4358f0b2fc.vsidx
/.vs/STR_CRL_API_COMALM/FileContentIndex/b7b11b91-45ba-49ad-a33d-53ee8d87bbe9.vsidx
/.vs/STR_CRL_API_COMALM/FileContentIndex/a7af53b3-b075-4a80-8924-01a8e12de6e7.vsidx
/.vs/STR_CRL_API_COMALM/FileContentIndex/dbfedc7b-d170-48ae-93e6-9a4b9113c6e4.vsidx
/.vs/STR_CRL_API_COMALM/FileContentIndex/72e66246-1bde-4bbc-bded-45e17ba32055.vsidx
/.vs/STR_CRL_API_COMALM/FileContentIndex/22c7553e-3bd3-4562-b079-639cc6633190.vsidx
/.vs/STR_CRL_API_COMALM/FileContentIndex/19b3df59-bfd1-4595-89cf-e5b9229bbe06.vsidx
/.vs/STR_CRL_API_COMALM/FileContentIndex/66daa249-de9d-464e-9a11-73334b104f7a.vsidx
/.vs/STR_CRL_API_COMALM/FileContentIndex/ef1c937e-dd39-4d86-a78e-a33a8c9abdd9.vsidx
/.vs/STR_CRL_API_COMALM/FileContentIndex/9795802d-0b4a-44b2-9f45-7c6b057e3124.vsidx
/.vs/STR_CRL_API_COMALM/FileContentIndex
